/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif;
    align-content: center;
    text-align: center;
}


table{

    width: 100% !important;
    border-color: black;

}




button{
    align-content: center;
    margin: 5px !important;
}

.label-error {

    border-color: red;
    color: red;

}